.advisory-points {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;  
    list-style-type: disc;  
    padding-left: 20px;

  }
  
  .advisory-points li {
    margin-bottom: 10px;
    color: #000000; 
    font-weight: bold;
    flex: 1 1 45%;
    font-family: 'Urbanist', sans-serif;

  }
  