.stats-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 20px;
}

.stat-card {
    position: relative;
    width: 180px;  
    height: 150px; 
    background-color: #f2f2f2; 
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.stat-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.8; 
}

.stat-card:nth-child(1)::before {
    background-image: url('src/assets/image1.png');
}

.stat-card:nth-child(2)::before {
    background-image: url('src/assets/image2.png');
}

.stat-card:nth-child(3)::before {
    background-image: url('src/assets/image3.png');
}

.stat-card:nth-child(4)::before {
    background-image: url('src/assets/image4.png');
}

.stat-card:nth-child(5)::before {
    background-image: url('src/assets/image5.png');
}

.stat-card:nth-child(6)::before {
    background-image: url('path/to/image6.png');
}

.stat-text {
    position: relative;
    z-index: 2;
    font-size: 24px;
    font-weight: bold;
    color: white; 
    margin-top: 20px;
}

.stat-description {
    position: relative;
    z-index: 2;
    font-size: 14px;
    color: white; 
}

.stat-subtext {
    position: relative;
    z-index: 2;
    font-size: 12px;
    color: white; 
    margin-top: 5px;
}

.imgfull{
     width: 250px ;
}
.imghalf{
     width: 180px ;
     height: 100%;
}
.hgt4{
     height: 150px ;
}
.hgt1{
     height: 87px ;
}
